<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.js"
        integrity="sha512-53y53BQwxZvk4YGd9SkHPqI7nDwlIIFZ4D2BSJG08Co7y6O3YsWeRtO6trPtdoyqfTCTkTbCulNosIAI6E4UvQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
</head>

<body onload="getdata">
    <!-- product page -->
    <label id="MODEL">info</label>
    <label id="CPU_BRAND">info</label>
</body>



<script type="text/javascript" charset="utf-8">
    const id = Qs.parse(location.search, { ignoreQueryPrefix: true, }).id;
    async function getdata() {
        console.log("fetching info from server")

        const response = await fetch(`/database?id=${id}`) // returns a promise
        const data = await response.json()
        console.log(data)
        document.getElementById("MODEL").innerHTML = data.MODEL
    }

    var socket = io();
    socket.on('connect', () => {
        socket.emit('connection', { data: 'I\'m connected!' });
    });

    socket.on("response", data => {
        console.log(data)
    })

    function sendquery(query) {
        socket.emit("query", { data: query })
    }

</script>

</html>